.signup-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-wrapper label{
    font-size: 16px;
    color: grey;
}
.signup-wrapper span{
    font-size: 18px;
    color: rgb(48, 46, 46);
}
.login-link{
    width: 300px;
    text-align: center;
}
.login-link a{
    color: rgb(29, 78, 226);
    border: 2px;

}